* {
    box-sizing: border-box;
}
/* 为每个链接设定样式 */
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropbtn1 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#username {
    margin-left:90px ;
    margin-top: 30px;
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.search {
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
}
.dropdown{
    background-image: url("头像.jpeg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin-right: 60px;
    height: 80px;
    width: 80px;
    border-style:solid;
    border-radius: 50%;
}
#end{
    width: 100%;
    height:100px;
    text-align:center;
    margin-top:10px;
    background-color:#00E1FF;
    color: white;
    font-size:x-large;
    padding-top:30px;
}
#iframe{
    width:100%;
    height: 100%;
    border:none;
}
#right{
    width: 49%;
    float:left;
    background-color:gainsboro;
    height:500px;
    text-align:center;
    margin-left:10px;
}
#mid{
    width: 100%;
    height:500px;
    margin-top:10px;
}
#left{
    width:10%;
    float:left;
    background-color:gainsboro;
    height:500px;
    text-align:center;
}
#hot{
    width:38%;
    margin-left: 20px;
    float:left;
    background-color:gainsboro;
    height:500px;
    text-align:center;
}
#hottitle{
    text-align: center;
    font-size: 25px ;
    color: rgb(55,176,171);
}
#hotcontent{
    text-align: left;
    padding-left:60px ;
    padding-right: 60px;
}
.yeartitle{
    height: 15%;
    width: 100%
}
.year{
    height: 20%;
    width: 100%
}
#hotfalme{
    margin-top: 20px;
    height: 76%;
    border: 1px solid red;
}
#mymenu>ul{
    padding: 5px;
    left: 90px;
    top: 40px;
    display: none;
    list-style-type: none;
    background-color: darkseagreen;
    color: white;
    min-height: 20px;
    min-width: 20px;
    text-align: left;
    /*阴影效果：偏移量*/
    box-shadow: 5px 5px 5px;
    /*使下拉框置业页面最上方*/
    position: absolute;
    /*z-index: 999;*/
}
#mymenu:hover ul{
    display: block;
}

