#bgDiv{
    padding-top:150px;
    width: 200px;
    margin-left: 40%;
    margin-right: 40%;
}
#una{

    margin-left: 12px;
}
#pwd{
    margin-left: 12px;
    margin-top: 10px;
}
#btn{

    margin-left: 75px;
    margin-top: 10px;
}
#top{
    text-align: center;
}

